@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  background: #54426b;
}

.btn {
  border: none;
  border-radius: 12px;
  padding: 0.4rem 1.6rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover {
  background: rgba(255, 0, 0, 0.9);
}

.btn-play {
  background: red;
  color: #fff;
  vertical-align: middle;
}
.app {
  position: relative;
}
.container-main {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.star {
  height: 14px !important;
  width: 14px !important;
  -o-object-fit: contain;
  object-fit: contain;
}

.loading {
  background: red;
}

/* Header */
.app-header {
  background: #e9f1f7;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.app-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-header ul li {
  margin-right: 1rem;
}

.app-header ul li a {
  color: #0d1b1e;
}

.top-logo img {
  height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

.heading-title {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #fff;
}

.carrousel {
  height: 70vh;
  width: 100%;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.carrousel .slides {
  width: 400%;
  left: 0;
  overflow: hidden;
  list-style: none;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.carrousel .slides li {
  width: 25%;
  position: relative;
  float: left;
}

.carrousel input {
  display: none;
}

.carrousel:hover .slidesNavigation {
  opacity: 1;
}

.car-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: flex-start;
  flex-direction: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.car-detail div:first-of-type {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.slidesNavigation {
  display: block;
  list-style: none;
  bottom: 0.4rem;
  position: absolute;
  width: 104px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 0.35s ease-in;
  transition: opacity 0.35s ease-in;
  opacity: 0.3;
}

.slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid 2px #fff;
  font-size: 0;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 70vh;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slide-img-wrap {
  width: 70%;
}

#radio-1:checked ~ .slides {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

#radio-2:checked ~ .slides {
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}

#radio-3:checked ~ .slides {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#radio-4:checked ~ .slides {
  -webkit-transform: translateX(-75%);
  transform: translateX(-75%);
}

.carrousel .slidesNavigation label:hover {
  cursor: pointer;
}

.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: #fff;
}

.slide-details {
  width: 30%;
  padding: 1rem;
  background: #e9f1f7;
  position: relative;
}

.slide-details p {
  margin-bottom: 14px;
}

.car-movie-title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.car-movie-description {
  padding-bottom: 2rem;
}

.car-movie-genre {
  text-transform: capitalize;
}

.btn-carousel {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.movie-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 1rem 0;
}

.movie-list li {
  -ms-flex-preferred-size: calc((100% / 6) - 10px);
  flex-basis: calc((100% / 6) - 10px);
  min-height: 100px;
  max-height: 100%;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 8px #000;
  box-shadow: 2px 2px 8px #000;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/330px-No-Image-Placeholder.svg.png");
  background-position: center;
  background-size: 100%, 100%;
}

.movie-list__img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.movie-list li img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.movie-extra .movie-year,
.movie-extra .movie-rating,
.movie-extra .movie-genre {
  position: absolute;
  color: #fff;
  padding: 0.3rem 0.4rem;
  background: #54426b;
  border-radius: 4px;
  font-size: 0.8rem;
  pointer-events: none;
}

.movie-extra .movie-year {
  left: 0.6rem;
  top: 0.6rem;
}

.movie-extra .movie-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0.6rem;
  bottom: 0.6rem;
}

.movie-extra .movie-genre {
  left: 50%;
  bottom: 0.6rem;
  text-transform: capitalize;
  max-width: 50%;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sorting-wrap {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sorting-wrap select,
.sorting-wrap input[type="search"] {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  border-radius: 4px;
  border: 4px solid #e9f1f7;
  margin-right: 1rem;
}
