.modal-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 800;
  visibility: hidden;
}

.modal-video-playvideo {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.modal_component {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 100px;
  left: 0;
  /* height: 800px; */
  width: 100%;
  background: white;
  z-index: 900;
}

.modal-open {
  visibility: visible;
  height: 100%;
  width: 100%;
}
.modal-img {
  height: 100%;
  object-fit: contain;
}
.modal-info {
  align-self: flex-start;
  padding: 20px;
}
.modal-header {
  font-size: 22px;
  padding-bottom: 20px;
}

.modal-video-video {
  /*  */
}

.modal-open-playvideo {
  /*  */
}
.modal-video-playvideo {
  width: 800px;
  height: 600px;
}

@media screen and (max-width: 480px) {
  .modal_component {
    flex-wrap: wrap;
    top: 50px;
    flex-direction: row;
    align-content: flex-start;
  }

  .modal-open {
    overflow: scroll;
  }
  .modal-img {
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  .modal-info {
    align-self: flex-start;
    padding: 20px;
  }
  .modal-header {
    font-size: 22px;
    padding-bottom: 20px;
  }
  .modal-body {
    margin-bottom: 20px;
  }
  .modal-video-video {
    width: 100%;
    height: 100%;
  }
}
